@import "src/styles/mixins";
@import "src/styles/vars";

.container {
  @include flex-center(column);

  position: absolute;
  inset: 0;
  gap: 15px;

  h1 {
    font-size: 20px;
  }

  .button {
    padding: 10px 15px;
    border-radius: 10px;
    color: $light-blue;
    font-size: 16px;
  }
}