@import 'src/styles/vars';
@import 'src/styles/mixins';

.popup {
  position: absolute;
  z-index: $layer-loader;
  max-width: 200px;
  border-radius: 10px;
  padding: 4px 8px;
  color: white;

  &.top-left {
    top: 2%;
    left: 2%;
  }

  &.top-right {
    top: 2%;
    right: 2%;
  }

  &.bottom-left {
    bottom: 2%;
    left: 2%;
  }

  &.bottom-right {
    bottom: 2%;
    right: 2%;
  }

  &.outlined.success {
    border: 5px solid $success;
  }

  &.contained.success {
    background-color: $success;
  }

  &.outlined.warn {
    border: 1px solid $warn;
  }

  &.contained.warn {
    background-color: $warn;
  }

  &.outlined.error {
    border: 5px solid $error;
  }

  &.contained.error {
    background-color: $error;
    opacity: 0.7;
  }
}


.wrapper{
  position: relative;

  .container {
    @include flex-center;

    padding: 10px;

    .message {

    }

    .status {
      margin-bottom: 10px;
    }

    .backdrop {
      cursor: pointer;
    }
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: white;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: white;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: white;
  }

  .left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: white;
  }
}

