@import "src/styles/mixins";
@import "src/styles/vars";


.form {
  .container {
    @include flex-center(column);

    .form-title {
      margin-bottom: 40px;
      font-size: 35px;

    }

    .input {
      max-width: 200px;
    }

    .button {
      min-width: 100px;
      padding: 10px 15px;
      border-radius: 10px;
      color: $light-text;
    }
  }
}