@import "src/styles/vars";
@import "src/styles/mixins";

.header {
  position: fixed;
  z-index: $layer-controls;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: $light-blue;

  .navbar {
    @include flex-center;
    margin-right: 15%;
    gap: 20px;

    .button {

      min-width: 50px;
      cursor: pointer;

      svg {
        color: white;
      }

      div {
        color: $light-text;
      }
    }
  }

}
