@import 'src/styles/vars';
@import 'src/styles/mixins';

.popup {
  position: absolute;
  z-index: 1000;
  top:50%;
  left: 50%;
  max-width: 200px;
  border-radius: 10px;
  color:white;

  &.top-left {
    top: 0;
    left: 0;
  }

  &.top-right {
    top: 0;
    right: 0;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
  }

  &.outlined.success {
    border: 5px solid $success;
  }

  &.contained.success {
    background: $success;
  }

  &.outlined.warn {
    border: 1px solid $warn;
  }

  &.contained.warn {
    background: $warn;
  }

  &.outlined.error {
    border: 5px solid $error;
  }

  &.contained.error {
    background-color: $error;
    opacity: 0.5;

  }
}


.wrapper{
  position: relative;

  .container{
    @include flex-center;
    padding:10px 15px;
    .message{

    }
    .backdrop{

    }
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background: white;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: white;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background: white;
  }

  .left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background: white;
  }
}

