@import 'src/styles/vars';

.button {
  max-width: 200px;


  &.contained {
    background-color: $light-blue;
  }

  &.outlined {
    border: 2px solid $light-blue;
  }
}
.link_button{
  display:block;
  font-family: inherit;
}